<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <!-- 회사 반복 시작 -->
    <div class="card my-3" th:each="company : ${companyList}">
        <a th:href="@{|/company/${company.id}|}" class="card-link">
            <div class="card-body flex flex-row items-center">
                <img th:src="@{|${company.url}|}" alt="회사이미지">
                <div class="card-text" style="white-space: pre-line;" th:text="${company.name}"></div>
            </div>
        </a>
    </div>
    <!--회사 반복 끝-->
</div>
</html>
